@using Gigya.Razor.Components
@model LoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>

    <partial name="_ValidationSummary"/>

    <div class="row">
        @await Component.InvokeAsync("GigyaLogin", new
        {
            onSubmitUrl = Model.ReturnUrl
        })
    </div>


</div>